

<div id = "home" ng-controller= "MainController">
	<div id = "sentence">
	{{sentence.sentenceText}}

	<p id = "rating"> the sentence makes {{sentence.percentage}} % no sense <p>
	</div>
<div id = "buttons">
	<button type="button" id = "buttonSense" ng-click= "vote('0', sentence._id)" >Sense</button>
	<button type="button" ng-click= "vote('1', sentence._id)">Mmmmmh</button>
	<button type="button" ng-click= "vote('2', sentence._id)">No Sense</button>
</div>

			

<button type="button" ng-click= "goToCreateSentence()" >Your Sentence !</button>
</div>



