

 <div data-ng-init="refresh()">
	
</div>


<!-- <table class="table" >
  		<tr ng-repeat="sentence in sentences" ng-controller= "TopFiveController">
    		<td>
    			<td>
    			
	<div class="nosensearea">
		<div class="sentence"  itemprop="description">
			"{{sentence.sentenceText}}"
		</div>
	</div>
	<div class="sentenceinfo">
		<div class="infotext">
          		the sentence makes </br>
          		{{sentence.percentage | number : 0}} % no sense
        </div>
    </div>
    <div class="squarebuttons"><a class="shuffle"></a><a  class="top10"></a></div>
	<div class="clearfloat"></div>
	<div class="votebutton">
		
        <div class="autor">Made by <a>{{sentence.user}} </a></div> 
		<div class="clearfloat"></div>
        <div class ="form-actions">
        	<button class="btn btn-primary " ng-click= "vote('0', sentence._id)">Sense</button>
        	<button class="btn btn-primary " ng-click= "vote('1', sentence._id)">Mmmmh</button>
        	<button class="btn btn-primary " ng-click= "vote('2', sentence._id)">No Sense</button>
        </div>
        	<div class="melden"><a  class="iframe1 claimlink">Satz melden!</a></div>
        </div>
	</div>
 
    			
  		</tr>
	</table> -->