<div data-ng-init="init()" ng-controller="TopFiveController">
    <div class="row">
        <div class="nosensearea row  col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-1  col-md-8 col-md-offset-1 col-lg-8 col-lg-offset-1 control-label" ng-swipe-left="nextSentence()" ng-swipe-right="previousSentence()">

            <div class=" col-xs-1 col-sm-1 col-md-1 col-lg-1" ng-Controller="TopFiveController">
                <img class="share" src='./images/thumbs-up-icon.png' ng-click="vote('2', sentence._id)">
            </div>

            <div class=" col-xs-1 col-sm-1 col-md-1 col-lg-1" ng-Controller="TopFiveController">
                <img class="share" src='./images/thumbs-down-icon.png' ng-click="vote('0', sentence._id)">
            </div>

            <div class=" col-xs-offset-9 col-xs-1 col-sm-offset-9 col-sm-1 col-md-offset-9 col-md-1 col-lg-1" ng-Controller="TopFiveController">
                <img class="share" src='./images/share.png' ng-click="openShare('sm')">
            </div>

            <button type="button" class="btn btn-default hidden-xs col-sm-1 col-md-1 col-lg-1 previousSentence" ng-click="previousSentence()">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </button>
            <div class="sentenceBox   col-xs-1 visible-xs" itemprop="description">

            </div>
            <div class="sentenceBox   col-xs-10 col-sm-10 col-md-10 col-lg-10" itemprop="description">
                "{{sentence.sentenceText}}"
            </div>
            <button type="button" class="btn btn-default hidden-xs col-sm-1 col-md-1 col-lg-1 nextSentence" ng-click="nextSentence()">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
            <div class="row sentenceActions">
                <div ng-click="showSentenceByUser(sentence.user)" class="autor col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
                    Made by
                    <strong>{{sentence.user}}</strong>
                </div>

                <div ng-controller="ModalController" class="reportSentence col-xs-4 col-xs-offset-4 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
                    <strong ng-click="openMail('sm')">Satz melden!</strong>
                </div>
            </div>
        </div>
        <div class="sentenceinfo hidden-xs col-xs-2 col-xs-offset-1 col-sm-2 col-sm-offset-1 col-md-2 col-md-offset-1 col-lg-2 col-lg-offset-1">


            <strong>{{sentence.percentage | number : 0}} % Senseless</strong>
            

        </div>
    </div>
    
</div>

<!-- html for the modal when user want to report a sentense -->
<script type="text/ng-template" id="mailModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title text-muted mouseArrow">Warum wollen sie den Satz melden ?</h3>
    </div>
    <div class="modal-body">
        <ul>
            <li ng-repeat="item in items">
                <a class="text-muted share" ng-click="selected.item = item">{{ item }}</a>
            </li>
        </ul>
        <div class="text-muted mouseArrow">Ausgewählter Grund: <b>{{ selected.item }}</b> 
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">Satz melden !</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

<!-- html for the modal when user want to share a sentense -->
<script type="text/ng-template" id="shareModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title text-muted mouseArrow">Spread the senselessness</h3>
    </div>
    <div class="modal-body">
        {{shareLink}} 
    </div>
    <div class="modal-footer">
  
    <button class="btn btn-warning" ng-click="cancel()">Schließen</button>
    </div>
</script>
