<div data-ng-init="init()" ng-controller="TopFiveController">
    <div class="row">
        <div class="nosensearea row  col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-1  col-md-8 col-md-offset-1 col-lg-8 col-lg-offset-1 control-label" ng-swipe-left="nextSentence()" ng-swipe-right="previousSentence()" >
           
        <!-- obere Reihe-->
            <div class=" hidden-xs col-sm-1 col-md-1 col-lg-1" >
                <img class="thumbsUp" tooltip='No Sense' src='./images/thumbs-up-icon.png' ng-click="vote('2', sentence._id)">
            </div>

            <div class=" hidden-xs col-sm-1 col-md-1 col-lg-1" >
                <img class="thumbsDown" tooltip='Sense' src='./images/thumbs-down-icon.png' ng-click="vote('0', sentence._id)">
            </div>


            <div ng-controller="MainController" class=" sentenceCounter hidden-xs  col-sm-8  col-md-8 col-lg-8">
                {{currentSentenceId+1}}/{{sentences.length }}
            </div> 
            <div class="hidden-xs  col-sm-offset-1 col-sm-1   col-md-offset-1 col-md-1  col-lg-offset-1 col-lg-1">
                <img  class="share" tooltip='Share' src='./images/share.png' ng-click ="openShare('sm')">
            </div> 

           <!-- icons for mobile -->
            <div ng-controller="MainController" class="visible-xs col-xs-4 ">
                 <strong class= "mobileSentenceInfo">{{sentence.percentage | number : 0}} % </br> Senseless</strong>
            </div> 
            <div ng-controller="MainController" class="mobileSentenceCounter visible-xs  col-xs-4">
                {{currentSentenceId+1}}/{{sentences.length }}
            </div> 

            <div class="visible-xs col-xs-offset-2 col-xs-2 ">
                <img  class="share" tooltip='Share' src='./images/share.png' ng-click ="openShare('sm')">
            </div> 
            <!--  -->
        <!--  -->   
           
           
            <button type="button" tooltip='Backward' class="btn btn-default col-xs-1 col-sm-1 col-md-1 col-lg-1 previousSentence" ng-click="previousSentence()">
                <span class=" glyphicon glyphicon-chevron-left" ></span>
            </button>
          
            <div class="sentenceBox   col-xs-10 col-sm-10 col-md-10 col-lg-10" itemprop="description">
               <p> "{{sentence.sentenceText}}"</p>
            </div>
            <button type="button" tooltip='Forward' class="btn btn-default col-xs-1 col-sm-1 col-md-1 col-lg-1 nextSentence" ng-click="nextSentence()">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
            <div class="row ">
                <div class="autor col-xs-6 col-sm-4 col-md-4 col-lg-4 ">
                    Made by
                    <strong class='autorInner' ng-click="showSentenceByUser(sentence.user)">{{sentence.user}}</strong>
                </div>
                    
                <div ng-controller="ModalController" class="reportSentence col-xs-6  col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
                    <strong ng-click="openMail('md',sentence._id)">Report Sentence!</strong>
                </div>
            </div>
        </div>
        <div class="sentenceinfo hidden-xs col-xs-2 col-xs-offset-1 col-sm-2 col-sm-offset-1 col-md-2 col-md-offset-1 col-lg-2 col-lg-offset-1">
            
                
               <strong> {{sentence.percentage | number : 0}} % Senseless </strong>
            
        </div>
    </div>
     <!-- voteButtons for mobile -->
    <div class="row visible-xs">
        <div class="buttonContainer col-xs-offset-1 col-xs-10">
        <button class="buttonsVoteNoSense btn btn-primary btn-lg  col-xs-5" ng-click="vote('2', sentence._id)">No Sense</button>
        <button class="buttonsVoteSense btn btn-primary btn-lg  col-xs-offset-2 col-xs-5" ng-click="vote('0', sentence._id)">Sense</button>
        </div>
    </div>
    <!--  -->
</div>
<!-- html for the modal when user want to report a sentense -->
<script type="text/ng-template" id="mailModalContent.html" ng-controller="ModalController">
    <div class="modal-header">
        <h3 class="modal-title text-muted">Why do you want to report this sentence?</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form" name="reasonForm">
            <div class="">
                <textarea style="resize: none;" rows ='5' maxlength = "300" type="text" class="form-control" name="reason" placeholder="Please explain your report" ng-model="reason" required></textarea>
            </div>
        </form>
    </div>
    <div class="modal-footer" ng-controller="ModalController">
        <button class="btn btn-primary" ng-click="ok(reason)" ng-disabled="!reasonForm.$valid">Report Sentence!</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>


<!-- html for the modal when user want to share a sentense -->
<script type="text/ng-template" id="shareModalContentTopFive.html">
    <div class="modal-header">
        <h3 class="modal-title text-muted">Spread the senselessness</h3>
    </div>
    <div class="modal-body">
        {{shareLink}} 
    </div>
    <div class="modal-footer" ng-controller="TopFiveController">
    <button class="btn btn-warning" clip-copy="ok()">Add to Clipboard</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>
