/* Container start */

html, body {
  background-position:top center;
  background-repeat:no-repeat;
  background-image:url('../images/body_bg.jpg');
  background-attachment:fixed;
  width:100%;
  height:100%;
  margin: 0;
}
.facebook {
  background-image:url('../images/facebook.png');
  width: 100%;
  height: 100%;
}

.erb-image-wrapper img{
    max-width:100% !important;
    height:auto;
    display:block;
}
.nextSentence{
 margin-top:  25%;
}

.nosensearea {
  background-image:url('../images/sentence_bg.png');
height: 250px

  }

.sentenceBox {
  
  font:28px Helvetica;
  color:#000;
  font-weight:lighter;
  display: table-cell;
    vertical-align: middle;
  text-align:center;
  
  margin-top : 10%;
  margin-bottom:10%;
  word-wrap:break-word;

}

.sentenceActions{
  margin-top: 220px;

}

.sentencePhone {
  font: 28px Helvetica;
  color:#000;
  font-weight:lighter;
  display: table-cell;
    vertical-align: middle;
  text-align:center;
  height:10em;
  width:660px;
}

.topsentence {
  font:28px Helvetica;
  color:#000;
  font-weight:lighter;
  padding:0px 40px 40px 40px;
}

.sentenceinfo {
  background-color: rgba(24,22,29,.60);
  }

.sentenceinfoMobile {
  background-color: rgba(24,22,29,.60);
}

.infotext {
  
  font:  18px Helvetica;
  font-weight:lighter;
  color: #fff;
}

.autor {
  font:14px Helvetica;
  font-weight:lighter;
  color:#666;
}

.autorheadline {
  float:left;
  margin-bottom:10px;
  width:500px;
  font:28px Helvetica;
  color:#fff;
}
  











