

html, body {
  
    
    background: #2d3a42 url(images/body_gradient.png) repeat-x;
    color: #9cc4dd;
    overflow-x: hidden;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .25);
    word-wrap: break-word;
}
.confirmButton {} .mouseArrow {
    cursor: default;
}

.buttonContainer{
    position: relative;
    height: 60px;

}

.buttonsVoteNoSense{
    
    bottom:0px;
    left: 5px;
    position: absolute;
font-size: 14px;
}



.buttonsVoteSense{
    
    bottom:0px;
    right:5px;
    position: absolute;
    font-size: 14px;
  
font-size: 14px;
}

 .thumbsUp{
    cursor: pointer;
    position: absolute;
    top:10px;
    left:0px;

 }


 .thumbsDown{
    cursor: pointer;
    position: absolute;
    top:10px;
    left:10px;
 }

.share {
    cursor: pointer;
    position: absolute;
    top:10px;
    right:10px;
    

}

.refresh{
    cursor: pointer;
    position: absolute;
    top:10px;
    right:0px;
    
}
.mobileSentenceInfo {
    font: 10px Helvetica;
    font-weight: lighter;
    color: #666;
    cursor: pointer;
    position: absolute;
    top:15px;
    left:0px;
}
.facebook {
    background-image: url('../images/facebook.png');
    width: 100%;
    height: 100%;
}
.erb-image-wrapper img {
    max-width: 100% !important;
    height: auto;
    display: block;
}
.nextSentence {
    cursor: pointer;
    position: absolute;
    top:140px;
    right:5px;
}
.previousSentence {
    cursor: pointer;
    position: absolute;
    top:140px;
    left:5px;
    
}
.sentenceActions {
    margin-top: 270px;
}
.nosensearea {
    background-image: url('../images/sentence_bg.png');
    height: 310px;
    position: relative;
}
.sentenceBox {
    position: absolute;
    left: 8%;
    top: 140px;
    vertical-align: middle;
    text-align: center;
    font-weight: lighter;
    word-wrap: break-word;
    font: 20px Helvetica;
    color: #000;
    cursor: default;
}
.sentenceBoxHome {
    position: absolute;
    left: 0px;
    top: 140px;
    vertical-align: middle;
    text-align: center;
    font-weight: lighter;
    word-wrap: break-word;
    font: 20px Helvetica;
    color: #000;
    cursor: default;
}
.sentencePhone {
    font: 18px Helvetica;
    color: #000;
    font-weight: lighter;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 10em;
    width: 660px;
}
.topsentence {
    font: 28px Helvetica;
    color: #000;
    font-weight: lighter;
    padding: 0px 40px 40px 40px;
}
.sentenceinfo {
    background-color: rgba(24, 22, 29, .60);
    height: 60px;
    text-align: center;
}
.sentenceinfoMobile {
    background-color: rgba(24, 22, 29, .60);
}
.infotext {
    font: 18px Futura;
    font-weight: lighter;
    color: #fff;
    cursor: default;
}
.voteButtons {
    margin-top: 50px;
}
.sentenceCounter {
    margin-top: 18px;
    font: 16px Helvetica;
    font-weight: lighter;
    
    text-align: center;
}
.autor {
    font: 14px Helvetica;
    font-weight: lighter;
    color: #666;
    cursor: pointer;
    text-align: left;
    bottom: 10.0px;
    left: 0;
    position: absolute;
}
.reportSentence {
    text-align: right;
    cursor: pointer;
    bottom: 10.0px;
    right: 0;
    position: absolute;
}
.autorheadline {
    float: left;
    margin-bottom: 10px;
    width: 500px;
    font: 28px Helvetica;
    color: #fff;
}
.error {
    margin-top: 10px;
    font-size: 12px;
    text-align: left;
}
@media screen and (min-width: 992px) {
    .nosensearea {
        background-image: url('../images/sentence_bg.png');
        height: 350px;
        
    }
    .sentenceinfo {
        background-color: rgba(24, 22, 29, .60);
        height: 110px;
        text-align: center;
        padding-top: 35px;
        
        font-size: 18px;
    }
    .sentenceActions {
        margin-top: 320px;
    }
   
    .error {
        margin-top: 10px;
        font-size: 12px;
        text-align: left;
    }
}
    @media screen and (max-width: 991px) {
        .infotext {
            font-size: 10px;
        }
        .autor {
            font-size: 10px;

        }
        .reportSentence {
            font-size: 10px;
        }
    }
    @media screen and (max-width: 766px) and (min-width: 401){
        .infotext {
            font-size: 10px;
        }
        .autor {
            font-size: 2px;
        }
        .reportSentence {
            font-size: 8px;
        }
        .error {
            margin-top: 10px;
            font-size: 12px;
            text-align: left;
        }
    }
    @media screen and (max-width: 400px) {
        .nosensearea {
            background-image: url('../images/sentence_bg.png');
            height: 300px
        }
        .sentenceActions {
            margin-top: 260px;
        }
        .reportSentence {
            font-size: 10px;
        }

        .autor {
            font-size: 10px;
        }

        .sentenceCounter {
            margin-top: 18px;
            font: 10px Helvetica;
            font-weight: lighter;
            
            text-align: center;
        }
    }
