html, body {
    background: #2d3a42 url(images/body_gradient.png) repeat-x;
    color: #9cc4dd;
    overflow-x: hidden;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .25);
    word-wrap: break-word;
    cursor: default;
}

.buttonContainer {
    position: relative;
    height: 60px;
}
.buttonsVoteNoSense {
    bottom: 0px;
    left: 5px;
    position: absolute;
    font-size: 14px;
}
.modalReport {
    cursor: pointer;
}
.buttonsVoteSense {
    bottom: 0px;
    right: 5px;
    position: absolute;
    font-size: 14px;
    font-size: 14px;
}
.thumbsUp {
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 0px;
}
.thumbsDown {
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
}
.share {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}
.refresh {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 0px;
}
.mobileSentenceInfo {
    font: 10px Helvetica;
    font-weight: lighter;
    color: #666;
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 0px;
}
.mobileSentenceCounter {
    text-align: center;
    top: 10px;
}
.erb-image-wrapper img {
    max-width: 100% !important;
    height: auto;
    display: block;
}
.nextSentence {
    cursor: pointer;
    position: absolute;
    top: 140px;
    right: 5px;
}
.previousSentence {
    cursor: pointer;
    position: absolute;
    top: 140px;
    left: 5px;
}
.sentenceActions {
    margin-top: 270px;
}
.nosensearea {
    background-image: url('../images/sentence_bg.png');
    height: 310px;
    border-radius: 6px;
    position: relative;
}
.sentenceBox {
    position: absolute;
    left: 8%;
    top: 35px;
     height: 240px;
    display: table;
    table-layout: fixed;
    vertical-align: middle;
    text-align: center;
    font-weight: lighter;
    word-wrap: break-word;
    font: 20px Helvetica;
    color: #000;
    cursor: default;
}

.sentenceBox p{
    display: table-cell; 
  vertical-align: middle; 
  text-align: center; 
}
.sentenceBoxHome {
    position: absolute;
    left: 0px;
    top: 35px;
    height: 240px;
    display: table;
    table-layout: fixed;
    vertical-align: middle;
    text-align: center;
    font-weight: lighter;
    word-wrap: break-word;
    font: 20px Helvetica;
    color: #000;
    cursor: default;

}

.sentenceBoxHome p{
    display: table-cell; 
  vertical-align: middle; 
  text-align: center; 
}
.topsentence {
    font: 28px Helvetica;
    color: #000;
    font-weight: lighter;
    padding: 0px 40px 40px 40px;
}
.sentenceinfo {
    background-color: rgba(24, 22, 29, .60);
    height: 60px;
    text-align: center;
    cursor: default;
    border-radius: 6px;
}
.infotext {
    font: 18px Futura;
    font-weight: lighter;
    color: #fff;
    cursor: default;
}
.voteButtons {
    margin-top: 50px;
}
.sentenceCounter {
    top: 20px;
    font: 14px Helvetica;
    font-weight: bold;
    font-weight: lighter;
    color: #666;
}
.autor {
    font: 14px Helvetica;
    font-weight: lighter;
    color: #666;
    cursor: default;
    text-align: left;
    bottom: 10.0px;
    left: 0;
    position: absolute;
}
.autorInner {
    cursor: pointer;
}
.reportSentence {
    font: 14px Helvetica;
    font-weight: lighter;
    color: #666;
    text-align: right;
    cursor: pointer;
    bottom: 10.0px;
    right: 0;
    position: absolute;
}
.autorheadline {
    float: left;
    margin-bottom: 10px;
    width: 500px;
    font: 28px Helvetica;
    color: #fff;
}
.error {
    margin-top: 10px;
    font-size: 12px;
    text-align: left;
}
@media screen and (min-width: 992px) {
    .nosensearea {
        background-image: url('../images/sentence_bg.png');
        height: 350px;
    }
    .sentenceinfo {
        background-color: rgba(24, 22, 29, .60);
        height: 110px;
        text-align: center;
        padding-top: 35px;
        font-size: 18px;
    }
    .sentenceActions {
        margin-top: 320px;
    }
    .error {
        margin-top: 10px;
        font-size: 12px;
        text-align: left;
    }
}
@media screen and (max-width: 991px) {
    .sentenceBoxHome {
        
        font: 15px Helvetica;
        
    }
    .sentenceBox {
        
        font: 15px Helvetica;
        
    }
    .infotext {
        font-size: 10px;
    }
    .autor {
        font-size: 10px;
    }
    .reportSentence {
        font-size: 10px;
    }
}
@media screen and (max-width: 766px) and (min-width: 401px) {
    .sentenceBoxHome {
       
        font: 14px Helvetica;
       
    }
    .sentenceBox {
       
        font: 14px Helvetica;
       
    }
    .infotext {
        font-size: 10px;
    }
    .autor {
        font-size: 10px;
    }
    .reportSentence {
        font-size: 10px;
    }
    .error {
        margin-top: 10px;
        font-size: 12px;
        text-align: left;
    }
}
@media screen and (max-width: 400px) {
    .sentenceBoxHome {
        
        font: 12px Helvetica;
        
    }
    .sentenceBox {
        
        font: 12px Helvetica;
       
    }
    .nosensearea {
        background-image: url('../images/sentence_bg.png');
        height: 300px
    }
    .sentenceActions {
        margin-top: 260px;
    }
    .reportSentence {
        font-size: 8px;
    }
    .autor {
        font-size: 8px;
    }
    .sentenceCounter {
        font: 10px Helvetica;
        font-weight: lighter;
        position: absolute;
        top: 15;
        text-align: center;
    }
    
}
